.Item {
   
   
}


/* 
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    font-weight: 500;
    color: #282c3f;
    word-break: break-word;
    font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
    letter-spacing: 0; */
                 

.Header img {
    border-radius: 2.8rem;
    width: 73%;
    height: 105%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    text-decoration: none;
}
.Actions {
    display: grid;
    grid-auto-flow: column;
    column-gap: 2rem;
   
}