.Navbar {
   
    font-size: 2rem;


    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFC107;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    
}

.Navbar .Item {
    
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    
}

.Item a {
    text-decoration: none;
}

.Item div {
    margin: auto;
}


.Logo {
   
    height: 80%;
}

.User {
    color: #000;
    cursor: pointer;
}

.User:hover {
    color: #eff3f7;
}


@media (max-width: 500px) {
    .Navbar {
        flex-flow: row;
    }
}